<div class="banner" style="background-image: linear-gradient(to bottom, rgba(240,249,255,0.1) 0%,rgba(203,235,255,0.1) 47%,rgba(161,219,255,0.1) 100%), url('<%= dato.home.banner_image.url(fm: :jpg) %>');">
  <div class="banner-content">
    <h1><strong>RÉSIDENCE AUTONOMIE CLAUDE VIELPEAU</strong></h1>
    <div class='banner-info'>
    </div>
   <!--  <a class="btn btn-primary d-none d-sm-block btn-md" href="#presentation-home">S <br> <i class="fa fa-arrow-down"></i> </a>
    <a class="btn btn-primary d-block d-sm-none btn-sm" href="#presentation-home">S <br> <i class="fa fa-arrow-down"></i> </a> -->
  </div>
</div>

