---
title: Admission | Résidence Autonomie Claude Vielpeau
---

<div class="containers container">
  <div><%= dato.admission.criteres %></div>
</div>

<div class="containers container">
  <div><%= dato.admission.procedure %></div>
</div>
