---
title: Présentation | Résidence Autonomie Claude Vielpeau
---


<div class="presentation-container containers container">
  <div><%= dato.presentation.texte %></div>
</div>

<div class="definition-container containers container">
  <div><%= dato.presentation.definition %></div>
</div>


<div class="localisation-container containers container">
  <%= dato.presentation.localisation %>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1706.3906535339793!2d0.4432656583207063!3d49.280253744598355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1b157057b83b7%3A0x568c335171a216b7!2s21%20Rue%20du%20Maquis%20Surcouf%2C%2027260%20%C3%89paignes!5e1!3m2!1sfr!2sfr!4v1644257748500!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

